<button
  (click)="toggleSidebar()"
  type="button"
  [ngClass]="statusToggleSidebar ? 'hidden' : ' '"
  class="btn btn-sm btn-ghost p-1 fixed top-2 left-2 hover:bg-neutral/10 rounded-md"
>
  <ng-icon name="heroBars3CenterLeft" size="18"></ng-icon>
</button>

<div class="z-50 flex-col antialiased">
  <div
    [ngClass]="statusToggleSidebar ? '' : ' hidden'"
    class="w-64 fixed flex flex-col top-0 left-0 bg-primary/20 h-full"
  >
    <!-- START HEADER SIDEBAR -->
    <div class="flex items-center justify-between px-4 py-1">
      <details class="dropdown">
        <summary
          class="btn btn-sm btn-ghost p-1 hover:bg-neutral/10 rounded-md flex"
        >
          <img
            src="profile-picture.jpg"
            class="w-7 h-7 rounded-full"
            alt="avt"
          />
          <span
            class="ml-2 self-center text-sm font-semibold whitespace-nowrap dark:text-base-100"
            >OssiLV
          </span>
          <ng-icon name="heroChevronDown"></ng-icon>
        </summary>

        <!-- START PROFILE -->
        <ul
          class="absolute w-[16rem] p-2 flex flex-col space-y-1 mt-2 bg-base-100 shadow-md rounded-md"
        >
          @for (item of profilItems; track item.id) {
          <li
            class="flex px-2 py-1 cursor-pointer hover:bg-neutral/10 transition-all rounded-md"
          >
            <div class="flex-1 flex justify-start items-center gap-2">
              <ng-icon name="{{ item.icon }}" />
              {{ item.name }}
            </div>
          </li>
          @if (item.divider) {
          <div class="divider"></div>
          } }
          <li class="flex items-center gap-2 hover:bg-base-100 px-2">
            <p
              class="text-sm cursor-pointer p-1 hover:bg-neutral/10 rounded-md"
            >
              v0.1
            </p>
            .
            <p
              class="text-sm cursor-pointer p-1 hover:bg-neutral/10 rounded-md"
            >
              Changelog
            </p>
          </li>
        </ul>
        <!-- END PROFILE -->
      </details>

      <button
        (click)="toggleSidebar()"
        type="button"
        class="btn btn-sm btn-ghost p-1 hover:bg-neutral/10 rounded-md"
      >
        <ng-icon name="heroBars3CenterLeft" size="18"></ng-icon>
      </button>
    </div>
    <!-- END HEADER SIDEBAR -->

    <!-- START BODY SIDERBAR -->
    <div class="overflow-y-auto overflow-x-hidden flex-grow px-2">
      <ul class="flex flex-col space-y-1 mt-2">
        <!-- LOOP NAVITEMS -->
        @for (navItem of navItems; track navItem.id) {
        <li
          (click)="navItemChange(navItem.path)"
          [ngClass]="
            currentNav === navItem.id
              ? 'bg-secondary/40 hover:bg-secondary/40'
              : ''
          "
          class="flex px-4 py-1 cursor-pointer hover:bg-neutral/10 transition-all rounded-md"
        >
          <div class="flex-1 flex justify-start items-center gap-2">
            <ng-icon name="{{ navItem.icon }}" />
            {{ navItem.name }}
          </div>

          <!-- TODO:Count Items here -->
          <p class="">0</p>
        </li>
        }
      </ul>
    </div>
    <!-- END BODY SIDERBAR -->
  </div>
</div>
