<div class="flex items-start gap-2 my-2 border-b pb-2">
  <button (click)="handleCompletedTask()" class="mt-1">
    @if (task?.isCompleted) {
    <ng-icon
      name="faCircleCheck"
      color="#F3D0D7"
      size="21"
      class="bg-primary transition-all rounded-full"
    />
    } @else {
    <ng-icon
      name="faCircle"
      color="#F3D0D7"
      size="21"
      class="hover:bg-primary transition-all rounded-full"
    />
    }
  </button>

  <div class="flex flex-col flex-1">
    <p>{{ task?.content }}</p>
    <p class="text-xs text-neutral/70">{{ task?.desc }}</p>
  </div>
</div>
